#ObtainingData{
    padding:0;
    margin:0;
    color:#d1d1d1;
    background-color: #1c1c1c;
    height:100vh;

}

.ab-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:10vh;
    height:90vh;
    text-align: center;
    margin:auto;
    padding-top:10px;
}

.ab-title{

    width:100%;
    font-weight: lighter;
    font-size:150%;
    color: #FF638F;

}


.ab-subHead{
    width:100%;
    font-size:70%;
}
.ab-subHead2{
    width:100%;
    font-size:70%;
}
.ab-mid{
    margin-top:4%;
    text-align: center;
    width:100%;
    font-weight: lighter;
    font-size:120%;
    color: #FF638F;
}
.ab-para{
    width:100%;
    font-size:70%;

}
.CSVSection{
    margin-top:40px;
}

.csv{
    text-align: center;
    color: #FF638F;
    display:inline-block;
    margin:0;
    text-decoration: none;
    transition: 0.5s;

}

@media screen and (max-width:750px){
    #ObtainingData{
        text-align: center;
        height:100vh;

    }
    .ab.all{
        padding:0;
        margin:0;
        justify-content: center;
    }
    .ab-subHead{
        width:80%;
        font-size:70%;
        margin:auto;
    }
    .ab-content{
        text-align: center;
        justify-content: center;
        margin:0;
        width:100%;
        height:90vh;
    }
}