#ObtainingData{
    height:100vh;
    padding:0;
    margin:0;
    color:#d1d1d1;
    background-color: #1c1c1c;
}
.ab-all{
    height:100%;
    display:flex;
}
.ab-headers{
    padding-top:50px;
    padding-bottom:50px;
}
.ab-content{
    text-align: center;
    margin-left:2%;
    margin-right:2%;
    width:70%;
    margin:auto;
    font-size: 20px;
}

.ab-title{
    font-weight: lighter;
    font-size:150%;
    color: #FF638F;
}
.ab-mid{
    font-weight: lighter;
    margin-top:28px;
    font-size:90%;
    color: #FF638F;
}
.ab-subHead{
    font-weight: lighter;
    text-align: center;
    margin-left:2%;
    margin-right:2%;
    padding-top: 0px;
    width:70%;
    margin:auto;
    font-size: 70%;
    color:#d1d1d1;
}

.ab-subHead2{
    font-weight: lighter;
    text-align: center;
    margin-left:2%;
    margin-right:2%;
    padding-top: 20px;
    width:70%;
    margin:auto;
    font-size: 70%;
    color:#FF638F;

}
.csv{
    font-size: 70%;
    color:#d1d1d1;
    margin:0;
}
.ab-ImageContainer{
    padding-top: 100px;
    padding-right: 8%;
    width:50%;
    text-align: center;
    margin:auto;
}
.ab-dataImage{
    width:60%;
    margin:auto;
}

@media screen and (max-width:750px){
    #ObtainingData{
        height:80vh;
        padding-bottom: 20vh;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .ab-all{
        flex-direction: column;
        padding-top: 30vh;
        height:80vh;
        justify-content: center;
    }
    .ab-headers{
        width:100%;
        font-size: 20px;
        /* margin-top: -320px; */
        order:2;
    }
    .ab-mid{
        margin-bottom: -15px;
    }
    
    .CSVSection{
        font-size: 20px;
        color:#d1d1d1;
        order:3;
    }
    .ab-content{
        width:100%;
        margin-top:-20%;
        margin-bottom: 20%;
        padding-top:-500px;
    }
    .ab-ImageContainer{
        padding:0;
        order:-1;
        padding-left: 0%;
        width:65%;
        /* margin-top: 90px; */
    }
    .ab-dataImage{
        order:1;
        /* width:100%; */
    }
    .ab-subHead{
        width:90%;
        padding-top: 20px;
    }

}