.ResultsSection{
    height:100vh;
    padding:0;
    margin:0;
    color:#d1d1d1;
    background-color: #1c1c1c;
}

.results-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:10vh;
    height:90vh;
    text-align: center;
    margin:auto;
    padding-top:10px;
}
.ResultsTitle{
    font-weight: lighter;
    font-size:150%;
    color: #FF638F;
    order:1;
}

.rs-subHead{
    width:100%;
    font-size:70%;
    order:2;

    color:#FF638F;
}
.rs-headers{
    margin-bottom:20px;
}


.rs-mainContent{
    margin-top:-30px;
    font-size:70%;

    order:3;
    margin-right:15%;
    margin-left:15%;
}

@media screen and (max-width:750px){
    .ResultsSection{
        height:100vh;
    }
    .results-content{

        height:100vh;
        justify-content: center;
    }

}